{
  "openapi": "3.0.0",
  "info": {
    "title": "OpticOdds",
    "description": "OpticOdds API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.opticodds.com/api/v3",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sports": {
      "get": {
        "tags": [
          "Common"
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SportsExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Sport",
                        "required": [
                          "id",
                          "name"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "main_markets": {
                            "title": "Main Markets",
                            "type": "array",
                            "items": {
                              "title": "BaseMarket",
                              "required": [
                                "id",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                }
                              }
                            },
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sports/active": {
      "get": {
        "tags": [
          "Common"
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SportsExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Sport",
                        "required": [
                          "id",
                          "name"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "main_markets": {
                            "title": "Main Markets",
                            "type": "array",
                            "items": {
                              "title": "BaseMarket",
                              "required": [
                                "id",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                }
                              }
                            },
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leagues": {
      "get": {
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "LeaguesExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "League",
                        "required": [
                          "id",
                          "name",
                          "sport",
                          "region"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "sport": {
                            "title": "Sport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              },
                              "main_markets": {
                                "title": "Main Markets",
                                "type": "array",
                                "items": {
                                  "title": "BaseMarket",
                                  "required": [
                                    "id",
                                    "name"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "title": "Id",
                                      "type": "string"
                                    },
                                    "name": {
                                      "title": "Name",
                                      "type": "string"
                                    }
                                  }
                                },
                                "nullable": true
                              }
                            }
                          },
                          "region": {
                            "title": "Region",
                            "type": "string"
                          },
                          "region_code": {
                            "title": "Region Code",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/leagues/active": {
      "get": {
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "fixture_status",
              "type": "string"
            },
            "name": "fixture_status",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "LeaguesExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "League",
                        "required": [
                          "id",
                          "name",
                          "sport",
                          "region"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "sport": {
                            "title": "Sport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              },
                              "main_markets": {
                                "title": "Main Markets",
                                "type": "array",
                                "items": {
                                  "title": "BaseMarket",
                                  "required": [
                                    "id",
                                    "name"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "title": "Id",
                                      "type": "string"
                                    },
                                    "name": {
                                      "title": "Name",
                                      "type": "string"
                                    }
                                  }
                                },
                                "nullable": true
                              }
                            }
                          },
                          "region": {
                            "title": "Region",
                            "type": "string"
                          },
                          "region_code": {
                            "title": "Region Code",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sportsbooks": {
      "get": {
        "tags": [
          "Common"
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SportsbooksExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Sportsbook",
                        "required": [
                          "id",
                          "name",
                          "logo",
                          "is_onshore",
                          "is_active"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "logo": {
                            "title": "Logo",
                            "type": "string"
                          },
                          "is_onshore": {
                            "title": "Is Onshore",
                            "type": "boolean"
                          },
                          "is_active": {
                            "title": "Is Active",
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sportsbooks/active": {
      "get": {
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "string"
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "string"
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "fixture_id",
              "type": "string"
            },
            "name": "fixture_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SportsbooksExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Sportsbook",
                        "required": [
                          "id",
                          "name",
                          "logo",
                          "is_onshore",
                          "is_active"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "logo": {
                            "title": "Logo",
                            "type": "string"
                          },
                          "is_onshore": {
                            "title": "Is Onshore",
                            "type": "boolean"
                          },
                          "is_active": {
                            "title": "Is Active",
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sportsbooks/last-polled": {
      "get": {
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "string"
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "string"
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "fixture_id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "fixture_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sportsbook",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sportsbook",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SportsbooksLastPolledExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "SportsbooksLastPolled",
                        "required": [
                          "league",
                          "fixture_id",
                          "sportsbooks"
                        ],
                        "type": "object",
                        "properties": {
                          "league": {
                            "title": "BaseLeague",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "fixture_id": {
                            "title": "Fixture Id",
                            "type": "string",
                            "nullable": true
                          },
                          "sportsbooks": {
                            "title": "Sportsbooks",
                            "type": "array",
                            "items": {
                              "title": "LastPolledSportsbook",
                              "required": [
                                "id",
                                "name",
                                "timestamp"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                },
                                "timestamp": {
                                  "title": "Timestamp",
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "string"
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "string"
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sportsbook",
              "type": "string"
            },
            "name": "sportsbook",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "MarketsExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Market",
                        "required": [
                          "id",
                          "name",
                          "sports"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "sports": {
                            "title": "Sports",
                            "type": "array",
                            "items": {
                              "title": "MarketSport",
                              "required": [
                                "id",
                                "name",
                                "leagues"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                },
                                "leagues": {
                                  "title": "Leagues",
                                  "type": "array",
                                  "items": {
                                    "title": "MarketLeague",
                                    "required": [
                                      "id",
                                      "name",
                                      "sportsbooks"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "title": "Id",
                                        "type": "string"
                                      },
                                      "name": {
                                        "title": "Name",
                                        "type": "string"
                                      },
                                      "sportsbooks": {
                                        "title": "Sportsbooks",
                                        "type": "array",
                                        "items": {
                                          "title": "BaseSportsbook",
                                          "required": [
                                            "id",
                                            "name"
                                          ],
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "title": "Id",
                                              "type": "string"
                                            },
                                            "name": {
                                              "title": "Name",
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/markets/active": {
      "get": {
        "tags": [
          "Common"
        ],
        "parameters": [
          {
            "required": true,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "fixture_id",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "fixture_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": true,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sportsbook",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "sportsbook",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "LeaguesExternalResponse",
                  "required": [
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "League",
                        "required": [
                          "id",
                          "name",
                          "sport",
                          "region"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "sport": {
                            "title": "Sport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              },
                              "main_markets": {
                                "title": "Main Markets",
                                "type": "array",
                                "items": {
                                  "title": "BaseMarket",
                                  "required": [
                                    "id",
                                    "name"
                                  ],
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "title": "Id",
                                      "type": "string"
                                    },
                                    "name": {
                                      "title": "Name",
                                      "type": "string"
                                    }
                                  }
                                },
                                "nullable": true
                              }
                            }
                          },
                          "region": {
                            "title": "Region",
                            "type": "string"
                          },
                          "region_code": {
                            "title": "Region Code",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Squads"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "page",
              "type": "string",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "include_statsperform_id",
              "type": "string",
              "default": false
            },
            "name": "include_statsperform_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "division",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "division",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "conference",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "conference",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "TeamsExternalResponse",
                  "required": [
                    "data",
                    "page",
                    "total_pages"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Team",
                        "required": [
                          "id",
                          "name",
                          "is_active",
                          "logo",
                          "sport",
                          "league"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "is_active": {
                            "title": "Is Active",
                            "type": "boolean"
                          },
                          "city": {
                            "title": "City",
                            "type": "string",
                            "nullable": true
                          },
                          "mascot": {
                            "title": "Mascot",
                            "type": "string",
                            "nullable": true
                          },
                          "nickname": {
                            "title": "Nickname",
                            "type": "string",
                            "nullable": true
                          },
                          "abbreviation": {
                            "title": "Abbreviation",
                            "type": "string",
                            "nullable": true
                          },
                          "division": {
                            "title": "Division",
                            "type": "string",
                            "nullable": true
                          },
                          "conference": {
                            "title": "Conference",
                            "type": "string",
                            "nullable": true
                          },
                          "logo": {
                            "title": "Logo",
                            "type": "string"
                          },
                          "source_ids": {
                            "title": "Source Ids",
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "sport": {
                            "title": "BaseSport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "league": {
                            "title": "BaseLeague",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "page": {
                      "title": "Page",
                      "type": "integer"
                    },
                    "total_pages": {
                      "title": "Total Pages",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/players": {
      "get": {
        "tags": [
          "Squads"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "page",
              "type": "string",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "include_statsperform_id",
              "type": "string",
              "default": false
            },
            "name": "include_statsperform_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "team_id",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "team_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "PlayersExternalResponse",
                  "required": [
                    "data",
                    "page",
                    "total_pages"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Player",
                        "required": [
                          "id",
                          "name",
                          "position",
                          "number",
                          "is_active",
                          "sport",
                          "league",
                          "team"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "name": {
                            "title": "Name",
                            "type": "string"
                          },
                          "position": {
                            "title": "Position",
                            "type": "string",
                            "nullable": true
                          },
                          "number": {
                            "title": "Number",
                            "type": "integer",
                            "nullable": true
                          },
                          "is_active": {
                            "title": "Is Active",
                            "type": "boolean"
                          },
                          "first_name": {
                            "title": "First Name",
                            "type": "string",
                            "nullable": true
                          },
                          "last_name": {
                            "title": "Last Name",
                            "type": "string",
                            "nullable": true
                          },
                          "age": {
                            "title": "Age",
                            "exclusiveMinimum": false,
                            "type": "integer",
                            "nullable": true
                          },
                          "height": {
                            "title": "Height",
                            "exclusiveMinimum": false,
                            "type": "integer",
                            "nullable": true
                          },
                          "weight": {
                            "title": "Weight",
                            "exclusiveMinimum": false,
                            "type": "integer",
                            "nullable": true
                          },
                          "experience": {
                            "title": "Experience",
                            "exclusiveMinimum": false,
                            "type": "integer",
                            "nullable": true
                          },
                          "logo": {
                            "title": "Logo",
                            "type": "string",
                            "nullable": true
                          },
                          "source_ids": {
                            "title": "Source Ids",
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "sport": {
                            "title": "BaseSport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "league": {
                            "title": "BaseLeague",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "team": {
                            "title": "BaseTeam",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "page": {
                      "title": "Page",
                      "type": "integer"
                    },
                    "total_pages": {
                      "title": "Total Pages",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fixtures": {
      "get": {
        "tags": [
          "Fixtures"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "page",
              "type": "string",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "include_statsperform_id",
              "type": "string",
              "default": false
            },
            "name": "include_statsperform_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "division",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "division",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "conference",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "conference",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "start_date_before",
              "type": "string"
            },
            "name": "start_date_before",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "start_date_after",
              "type": "string"
            },
            "name": "start_date_after",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "start_date",
              "type": "string"
            },
            "name": "start_date",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "team_id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "team_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "include_starting_lineups",
              "type": "string",
              "default": false
            },
            "name": "include_starting_lineups",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "season_year",
              "type": "string"
            },
            "name": "season_year",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "season_week",
              "type": "string"
            },
            "name": "season_week",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "season_type",
              "type": "string"
            },
            "name": "season_type",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "status",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "status",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FixturesExternalResponse",
                  "required": [
                    "data",
                    "page",
                    "total_pages"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Fixture",
                        "required": [
                          "id",
                          "start_date",
                          "home_competitors",
                          "away_competitors",
                          "status",
                          "is_live",
                          "sport",
                          "league",
                          "has_odds",
                          "venue_neutral"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "game_id": {
                            "title": "Game Id",
                            "type": "string",
                            "nullable": true
                          },
                          "start_date": {
                            "title": "Start Date",
                            "type": "string",
                            "format": "date-time"
                          },
                          "home_competitors": {
                            "title": "Home Competitors",
                            "type": "array",
                            "items": {
                              "title": "Competitor",
                              "required": [
                                "id",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                },
                                "abbreviation": {
                                  "title": "Abbreviation",
                                  "type": "string",
                                  "nullable": true
                                },
                                "logo": {
                                  "title": "Logo",
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "away_competitors": {
                            "title": "Away Competitors",
                            "type": "array",
                            "items": {
                              "title": "Competitor",
                              "required": [
                                "id",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                },
                                "abbreviation": {
                                  "title": "Abbreviation",
                                  "type": "string",
                                  "nullable": true
                                },
                                "logo": {
                                  "title": "Logo",
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "home_team_display": {
                            "title": "Home Team Display",
                            "type": "string",
                            "nullable": true
                          },
                          "away_team_display": {
                            "title": "Away Team Display",
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "title": "Status",
                            "type": "string"
                          },
                          "is_live": {
                            "title": "Is Live",
                            "type": "boolean"
                          },
                          "sport": {
                            "title": "BaseSport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "league": {
                            "title": "BaseLeague",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "home_starter": {
                            "title": "Home Starter",
                            "type": "string",
                            "nullable": true
                          },
                          "home_record": {
                            "title": "Home Record",
                            "type": "string",
                            "nullable": true
                          },
                          "home_seed": {
                            "title": "Home Seed",
                            "type": "string",
                            "nullable": true
                          },
                          "home_rotation_number": {
                            "title": "Home Rotation Number",
                            "type": "integer",
                            "nullable": true
                          },
                          "away_starter": {
                            "title": "Away Starter",
                            "type": "string",
                            "nullable": true
                          },
                          "away_record": {
                            "title": "Away Record",
                            "type": "string",
                            "nullable": true
                          },
                          "away_seed": {
                            "title": "Away Seed",
                            "type": "string",
                            "nullable": true
                          },
                          "away_rotation_number": {
                            "title": "Away Rotation Number",
                            "type": "integer",
                            "nullable": true
                          },
                          "tournament": {
                            "allOf": [
                              {
                                "title": "BaseTournament",
                                "required": [
                                  "id",
                                  "name",
                                  "start_date"
                                ],
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "Id",
                                    "type": "string"
                                  },
                                  "name": {
                                    "title": "Name",
                                    "type": "string"
                                  },
                                  "start_date": {
                                    "title": "Start Date",
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "end_date": {
                                    "title": "End Date",
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                  }
                                }
                              }
                            ],
                            "nullable": true
                          },
                          "tournament_stage": {
                            "title": "Tournament Stage",
                            "type": "string",
                            "nullable": true
                          },
                          "has_odds": {
                            "title": "Has Odds",
                            "type": "boolean"
                          },
                          "venue_name": {
                            "title": "Venue Name",
                            "type": "string",
                            "nullable": true
                          },
                          "venue_location": {
                            "title": "Venue Location",
                            "type": "string",
                            "nullable": true
                          },
                          "venue_neutral": {
                            "title": "Venue Neutral",
                            "type": "boolean"
                          },
                          "broadcast": {
                            "title": "Broadcast",
                            "type": "string",
                            "nullable": true
                          },
                          "result": {
                            "allOf": [
                              {
                                "title": "BaseResult",
                                "required": [
                                  "scores"
                                ],
                                "type": "object",
                                "properties": {
                                  "scores": {
                                    "title": "BaseScores",
                                    "required": [
                                      "home",
                                      "away"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "home": {
                                        "title": "BaseScore",
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "title": "Total",
                                            "type": "number",
                                            "nullable": true
                                          }
                                        }
                                      },
                                      "away": {
                                        "title": "BaseScore",
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "title": "Total",
                                            "type": "number",
                                            "nullable": true
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "in_play_data": {
                                    "allOf": [
                                      {
                                        "title": "BaseInPlayData",
                                        "type": "object",
                                        "properties": {
                                          "period": {
                                            "title": "Period",
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "clock": {
                                            "title": "Clock",
                                            "type": "string",
                                            "nullable": true
                                          },
                                          "last_play": {
                                            "title": "Last Play",
                                            "type": "string",
                                            "nullable": true
                                          }
                                        }
                                      }
                                    ],
                                    "nullable": true
                                  }
                                }
                              }
                            ],
                            "nullable": true
                          },
                          "lineups": {
                            "allOf": [
                              {
                                "title": "Lineups",
                                "required": [
                                  "home",
                                  "away"
                                ],
                                "type": "object",
                                "properties": {
                                  "home": {
                                    "title": "Home",
                                    "type": "array",
                                    "items": {
                                      "title": "LineupPlayer",
                                      "required": [
                                        "player_id",
                                        "player_name",
                                        "player_team",
                                        "player_position"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "player_id": {
                                          "title": "Player Id",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_name": {
                                          "title": "Player Name",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_team": {
                                          "title": "Player Team",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_position": {
                                          "title": "Player Position",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_batting_throwing": {
                                          "title": "Player Batting Throwing",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "is_substitute": {
                                          "title": "Is Substitute",
                                          "type": "boolean",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  },
                                  "away": {
                                    "title": "Away",
                                    "type": "array",
                                    "items": {
                                      "title": "LineupPlayer",
                                      "required": [
                                        "player_id",
                                        "player_name",
                                        "player_team",
                                        "player_position"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "player_id": {
                                          "title": "Player Id",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_name": {
                                          "title": "Player Name",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_team": {
                                          "title": "Player Team",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_position": {
                                          "title": "Player Position",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "player_batting_throwing": {
                                          "title": "Player Batting Throwing",
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "is_substitute": {
                                          "title": "Is Substitute",
                                          "type": "boolean",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ],
                            "nullable": true
                          },
                          "season_type": {
                            "title": "Season Type",
                            "type": "string",
                            "nullable": true
                          },
                          "season_year": {
                            "title": "Season Year",
                            "type": "string",
                            "nullable": true
                          },
                          "season_week": {
                            "title": "Season Week",
                            "type": "string",
                            "nullable": true
                          },
                          "weather": {
                            "title": "Weather",
                            "type": "string",
                            "nullable": true
                          },
                          "weather_temp": {
                            "title": "Weather Temp",
                            "type": "string",
                            "nullable": true
                          },
                          "source_ids": {
                            "title": "Source Ids",
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "default": {},
                            "nullable": true
                          }
                        }
                      }
                    },
                    "page": {
                      "title": "Page",
                      "type": "integer"
                    },
                    "total_pages": {
                      "title": "Total Pages",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/fixtures/active": {
      "get": {
        "tags": [
          "Fixtures"
        ],
        "parameters": [
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "sport",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "sport",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "league",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "league",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "page",
              "type": "string",
              "default": 1
            },
            "name": "page",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "include_statsperform_id",
              "type": "string",
              "default": false
            },
            "name": "include_statsperform_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "division",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "division",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "conference",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "conference",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "start_date_before",
              "type": "string"
            },
            "name": "start_date_before",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "start_date_after",
              "type": "string"
            },
            "name": "start_date_after",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "start_date",
              "type": "string"
            },
            "name": "start_date",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "team_id",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "team_id",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "include_starting_lineups",
              "type": "string",
              "default": false
            },
            "name": "include_starting_lineups",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "season_year",
              "type": "string"
            },
            "name": "season_year",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "season_week",
              "type": "string"
            },
            "name": "season_week",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "season_type",
              "type": "string"
            },
            "name": "season_type",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "status",
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            },
            "name": "status",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "required": false,
            "deprecated": false,
            "explode": true,
            "schema": {
              "title": "is_live",
              "type": "string"
            },
            "name": "is_live",
            "in": "query",
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "FixturesExternalResponse",
                  "required": [
                    "data",
                    "page",
                    "total_pages"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Data",
                      "type": "array",
                      "items": {
                        "title": "Fixture",
                        "required": [
                          "id",
                          "start_date",
                          "home_competitors",
                          "away_competitors",
                          "status",
                          "is_live",
                          "sport",
                          "league",
                          "has_odds",
                          "venue_neutral"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "Id",
                            "type": "string"
                          },
                          "game_id": {
                            "title": "Game Id",
                            "type": "string",
                            "nullable": true
                          },
                          "start_date": {
                            "title": "Start Date",
                            "type": "string",
                            "format": "date-time"
                          },
                          "home_competitors": {
                            "title": "Home Competitors",
                            "type": "array",
                            "items": {
                              "title": "Competitor",
                              "required": [
                                "id",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                },
                                "abbreviation": {
                                  "title": "Abbreviation",
                                  "type": "string",
                                  "nullable": true
                                },
                                "logo": {
                                  "title": "Logo",
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "away_competitors": {
                            "title": "Away Competitors",
                            "type": "array",
                            "items": {
                              "title": "Competitor",
                              "required": [
                                "id",
                                "name"
                              ],
                              "type": "object",
                              "properties": {
                                "id": {
                                  "title": "Id",
                                  "type": "string"
                                },
                                "name": {
                                  "title": "Name",
                                  "type": "string"
                                },
                                "abbreviation": {
                                  "title": "Abbreviation",
                                  "type": "string",
                                  "nullable": true
                                },
                                "logo": {
                                  "title": "Logo",
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "home_team_display": {
                            "title": "Home Team Display",
                            "type": "string",
                            "nullable": true
                          },
                          "away_team_display": {
                            "title": "Away Team Display",
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "title": "Status",
                            "type": "string"
                          },
                          "is_live": {
                            "title": "Is Live",
                            "type": "boolean"
                          },
                          "sport": {
                            "title": "BaseSport",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "league": {
                            "title": "BaseLeague",
                            "required": [
                              "id",
                              "name"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "title": "Id",
                                "type": "string"
                              },
                              "name": {
                                "title": "Name",
                                "type": "string"
                              }
                            }
                          },
                          "home_starter": {
                            "title": "Home Starter",
                            "type": "string",
                            "nullable": true
                          },
                          "home_record": {
                            "title": "Home Record",
                            "type": "string",
                            "nullable": true
                          },
                          "home_seed": {
                            "title": "Home Seed",
                            "type": "string",
                            "nullable": true
                          },
                          "home_rotation_number": {
                            "title": "Home Rotation Number",
                            "type": "integer",
                            "nullable": true
                          },
                          "away_starter": {
                            "title": "Away Starter",
                            "type": "string",
                            "nullable": true
                          },
                          "away_record": {
                            "title": "Away Record",
                            "type": "string",
                            "nullable": true
                          },
                          "away_seed": {
                            "title": "Away Seed",
                            "type": "string",
                            "nullable": true
                          },
                          "away_rotation_number": {
                            "title": "Away Rotation Number",
                            "type": "integer",
                            "nullable": true
                          },
                          "tournament": {
                            "allOf": [
                              {
                                "title": "BaseTournament",
                                "required": [
                                  "id",
                                  "name",
                                  "start_date"
                                ],
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "title": "Id",
                                    "type": "string"
                                  },
                                  "name": {
                                    "title": "Name",
                                    "type": "string"
                                  },
                                  "start_date": {
                                    "title": "Start Date",
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "end_date": {
                                    "title": "End Date",
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                  }
                                }
                              }
                            ],
                            "nullable": true
                          },
                          "tournament_stage": {
                            "title": "Tournament Stage",
                            "type": "string",
                            "nullable": true
                          },
                          "has_odds": {
                            "title": "Has Odds",
                            "type": "boolean"
                          },
                          "venue_name": {
                            "title": "Venue Name",
                            "type": "string",
                            "nullable": true
                          },
                          "venue_location": {
                            "title": "Venue Location",
                            "type": "string",
                            "nullable": true
                          },
                          "venue_neutral": {
                            "title": "Venue Neutral",
                            "type": "boolean"
                          },
                          "broadcast": {
                            "title": "Broadcast",
                            "type": "string",
                            "nullable": true
                          },
                          "result": {
                            "allOf": [
                              {
                                "title": "BaseResult",
                                "required": [
                                  "scores"
                                ],
                                "type": "object",
                                "properties": {
                                  "scores": {
                                    "title": "BaseScores",
                                    "required": [
                                      "home",
                                      "away"
                                    ],
                                    "type": "object",
                                    "properties": {
                                      "home": {
                                        "title": "BaseScore",
                                        "type": "object",
                                        "properties": {
                                          "total": {
                                            "title": "Total",
                                            "type": "number",
                                            "nullable": true
                                          }
                                        }
[...]
